<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Netflix</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="icon" type="image/png" href="/static/img/icon.png">
	<!-- Place favicon.ico in the root directory -->

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="/static/css/ranking.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<meta name="theme-color" content="#fafafa">
</head>
<body>
	<header>
	  	<div class="center-top">
	  		<div class="top">
	  			<div class="top_left">
	  				<div class="logo"><a href="/"><img src="/static/img/logo.png" width="100%"></a></div>
	  				<div class="top_menu" style="margin-left: 120px;">
			          	<form action="/mostrarKPrimeros" method="post">
    							<select name="itembased_m" style="border-radius: 10px;
    									border: 0px solid white;
    									padding: 10px;
    									margin-right: 10px
    									min-width:240px;
    									min-height: 30px;">
    								<option value="slopeone" selected> Slope One </option>
    								<option value="ajustedcosine"> Ajusted Cosine </option>
    							</select>
              <input type="text" name="item_slopeone" value="{{item_slopeone}}" placeholder="Item" >
							<input type="text" name="k_slopeone" value="{{k_slopeone}}" placeholder="K" >
							<button type="submit">Mostrar</button>
			          	</form>
			        </div>
			    </div>
			    <div class="top_rigth">
			        <p>TBD CS UNSA 2019</p>
			    </div>
			</div>
		</div>
	</header>

	{% if mensaje!='' %}
	<div style="text-align:center">
		{{mensaje}}
	</div>
	{% endif %}


	{% if tiempoCalculo!='' %}
	<div style="text-align:center">
		Valor predecido: {{predecido}}, en tiempo: {{tiempoCalculo}} ms
	</div>


	<div class="resultados">
		<div class="resultados_contenedor" style="margin-top: 30px;">

			<div class="r2">
				<div class="r2_imagen"><p id="results"> </p></div>
				<div class="r2_info">
					<div><span class="r2_nombre"><h2 id="title"></h2></span></div>
					<div class="r2_puntaje">
						<span><i class="fas fa-star">{{predecido}}</i></span>
					</div>
				</div>
			</div>

		</div>
	</div>

	{% endif %}


	{{resultados}}



	{% if tiempoCalculo!='' %}
	<script type="text/javascript">
        const API_KEY ="43223a67169279b9b525638821d593b0";
		'use strict';

		var id_peli = "{{imdbId}}";
		console.log(id_peli)
		var imageUrl = "https://api.themoviedb.org/3/find/tt"+id_peli+'?api_key='+API_KEY+"&external_source=imdb_id";
		console.log(imageUrl);

		$.ajax({
			type: "GET",
			dataType: "json",
			// URL a la que se enviará la solicitud Ajax
			url: imageUrl,
		})
			.done(function( data, textStatus, jqXHR ) {
				if ( console && console.log ) {
					console.log(data.movie_results[0].poster_path)
					console.log( "La solicitud se ha completado correctamente." );
					title = data.movie_results[0].title
					$("#title").html(title)
					$('#results').append('<img src="' + "http://image.tmdb.org/t/p/w154"+data.movie_results[0].poster_path + '" />');
				}
			})
			.fail(function( jqXHR, textStatus, errorThrown ) {
				if ( console && console.log ) {
					console.log( "La solicitud a fallado: " +  textStatus);
				}
		});
	</script>
	{% endif %}

</body>
</html>
