<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Netflix</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="icon" type="image/png" href="{{url_for('static', filename='img/icon.png')}}">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/ranking.css')}}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<meta name="theme-color" content="#fafafa">
</head>
<body>
	<header>
	  	<div class="center-top">
	  		<div class="top">
	  			<div class="top_left">
	  				<div class="logo"><a href="/"><img src="{{url_for('static', filename='img/logo.png')}}" width="100%"></a></div>
	  				<div class="top_menu" style="margin-left: 70px;">
			          	<form action="#">
			          		<select style="border-radius: 10px;
									border: 0px solid white;
									padding: 10px;
									margin-right: 10px;
									min-width:240px;
    								min-height: 30px;">
			          			<option value="manhattan" > Manhattan </option>
			          			<option value="euclidean"> Euclidean </option>
			          			<option value="pearson" > Pearson </option>
			          			<option value="coseno" selected> Coseno </option>
			          		</select>
			          		<input type="text" placeholder="K">
			          		<input type="text" placeholder="Umbral">
			          		<button type="submit" style="
									min-width:140px;
    								min-height: 30px;">Recomendar</button>
			          	</form>
			        </div>
			    </div>
			    <div class="top_rigth">
			        <p>Katherine Rocío</p>
			    </div>
			</div>
			<div class="top_menu" style="margin-left: 424px;">
	        	<input type="text" placeholder="Usuario">
	          	<input type="text" placeholder="Item">
	        	<button type="submit">Predecir</button>
	        </div>
		</div>
	</header>

	<div class="resultados">
		<div class="resultados_contenedor" style="margin-top: 30px;">
			<div class="r1">
				<div class="r1_imagen"><img src="{{url_for('static', filename='img/aliens.jpg')}}" alt="">
				</div>
				<div class="r1_info">
					<div><span class="r1_nombre"><h2>Aliens</h2></span></div>
					<div class="r1_puntaje">
						<span><i class="fas fa-star">7.1</i></span>
					</div>
				</div>
			</div>

			<div class="r2">
				<div class="r2_imagen"><img src="{{url_for('static', filename='img/Moonlight-poster.jpg')}}" alt=""></div>
				<div class="r2_info">
					<div><span class="r2_nombre"><h2>Moonligth</h2></span></div>
					<div class="r2_puntaje">
						<span><i class="fas fa-star">6.2</i></span>
					</div>
				</div>
			</div>

		</div>		
	</div>
	
</body>
</html>