<!DOCTYPE html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
  	<title>Netflix</title>
  	<meta name="description" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="manifest" href="../site.webmanifest">
  	<link rel="icon" type="image/png" href="{{url_for('static', filename='img/icon.png')}}">
  	<!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
  	<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/welcome.css')}}">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <meta name="theme-color" content="#fafafa">
</head>
<body>
    <div class="top-contenedor">
        <div class="logo">
		        <div class="img-logo"><img src="{{url_for('static',filename='img/logo.png')}}" alt="none"></div>
        </div>
		    <div class="login"><a href="index.html">Iniciar Sesión</a></div>
    </div>

    <div>
        <div>
            <h1>Tu próxima historia, ahora.</h1>
            <h3>DISFRUTA DONDE QUIERAS. CANCELA CUANDO QUIERAS.</h3>
            <div class="button"><a href="index.html">Unirte Ahora</a></div>
        </div>
    </div>
    
    <!-- TRES ELEMENTOS -->
    <div class="tres-elementos">
        <div>
            <ul>
                <li>Sin compromisos, cancela online cuando quieras</li>
                <li>Ve desde donde quieras</li>
                <li>Elige tu precio</li>
            </ul>
        </div>

        <div class="1">
            <div>
                <span>Si piensas que Netflix no es lo tuyo, no hay problema.  Sin compromisos. Cancela online cuando quieras.</span>
                <a href="index.html">Unirte Ahora</a>
            </div>
            <div>
              <img src="none" alt="none">
            </div>
        </div>
        <div class="2">
            <div>
                <span>Ve películas y programas cuando y donde quieras, personalizados para ti.</span>
                <a href="index.html">Unirte Ahora</a>
            </div>
            <div>
                <ul>
                    <li><snap>Ve Netflix en tu TV</snap> <p>Smart TV, PlayStation, Xbox, Chromecast, Apple TV, reproductores de Blu-ray y más.</p></li>
                    <li><snap>Disfruta al instante o descarga videos para más tarde</snap><p>Disponible en tu teléfono o tablet, vayas donde vayas.</p></li>
                    <li><snap>Usa cualquier computadora</snap><p>Ve directamente en Netflix.com.</p></li>
                </ul>
            </div>
        </div>
        <div class="3">
            <div>
                <span>Elige un plan y ve lo que quieras en Netflix.</span>
                <a href="index.html">Unirte Ahora</a>
            </div>
            <div>
                <table></table>
            </div>
        </div>
    </div>
    <!-- TRES ELEMENTOS FIN-->

    <!-- FOOTER -->
    <div>
        <div>
            
        </div>
    </div>
    <!-- FOOTER FIN -->
</body>
</html>